
build/
build_debug
# C++26
compile_commands.json
compiled/
.DS_Store
*.exe
# IDE
.idea/
*.o
*.obj
# OS
*.out
# Racket
*.rkt~
*.swo
*.swp
tests/__pycache__/
tests/bench_results/
Thumbs.db
.vscode/
*.zo
build_dbg/
/Testing/
/build_rel/
/__pycache__/
