
build/
build_asan
build_dbg/
build_debug
build_gdb
/build_rel/
build_ubsan
# C++26
compile_commands.json
compiled/
.DS_Store
*.exe
# IDE
.idea/
*.log
*.o
*.obj
# OS
*.out
/__pycache__/
# Racket
*.rkt~
*.swo
*.swp
/Testing/
tests/bench_results/
tests/bench_results/*.log
tests/__pycache__/
Thumbs.db
.vscode/
*.zo
build_o0/
build_o0/
__pycache__/
